/*
const tetriminoColor = [
  "#ffffff",
  "#4287f5",
  "#4aff89",
  "#f5b942",
  "#f244b5",
  "#fc3041",
  "#80d44c",
  "#8753db",
];
*/

.background {
  width: 20px;
  height: 20px;
  background: burlywood;
  text-align: center;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0px;
  padding-top: 0;
  padding-bottom: 0;
  clear: both;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
}
